<h1>User Sign In</h1>

<form action="/users/create-session" method="post">
    <input placeholder="username" name="name">
    <input type="password" name="password">
    <input type="submit" value="Sign In">
</form>