<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input placeholder="Name" name="Name" required> <br>
    <input type="email" name="email" placeholder="Email" required> <br>
    <input type="password" name="password" placeholder="Password" required> <br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required> <br>
    <input type="submit" value="Sign Up">
</form>